.pricing {
    min-height: 100vh;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%230f0f0f' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%231e1e1e' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%232e2e2e' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%233d3d3d' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%234C4C4C' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-size:cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    
        .subscription {
            margin-top: 25px;
            color: white;
            display: flex;
            flex-direction: row;
            gap: 25px;

            h5 {
                padding-right: 25px;
                border-right: 1px solid white;
                transition: .3s;
                font-weight: 400;

                &:last-child {
                    border: none;
                }

                &:hover {
                    cursor: pointer;
                    font-weight: 500;
                    text-shadow: 0px 5px 15px white;
                }
            }
        }

        .prices {
            padding: 40px 0;
            display: flex;
            flex-wrap: wrap;
            gap: 25px;

            .price-container {
                background-image: url("../images/classesbg2.jpg");
                background-size: cover;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 20px;
                border-radius: 2px;
                height: 550px;
                width: 325px;
                box-shadow: rgba(255, 255, 255, 0.3) 0px 5px 15px;
                border: 2px solid black;
                background-repeat: no-repeat;
                background-position: bottom;

                .price-header { 
                    h5 {
                        font-weight: 300;
                    }
                    h2 {
                        font-size: 2em;
                        font-weight: 400;
                    }
                }
                
                .calendar {
                    display: flex;

                    .calendar-icon {
                        padding: 0px 10px;
                    }
                    svg {
                        font-size: 2em;
                    }
                    .times {
                        h5 {
                            font-weight: 300;
                        }
                    }
                }
                .membership {
                    display: flex;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .membership-price {
                        margin: 10px 0px;
                        h1 {
                            font-weight: 500;
                            font-size: 2.5em;
                        }
                    }
                    svg {
                        font-size: 2em;
                    }
                }
                .button-container {
                    margin: 0 auto;
                }
            }
        }
}

@media screen and (max-width: 768px) {

    .pricing { 
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }
    .prices { 
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }
}

@media screen and (max-width: 1024px) {

    .pricing { 
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }
    .prices { 
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }
}